// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT
#define ZMK_POINTING_DEFAULT_MOVE_VAL 1000
#define ZMK_POINTING_DEFAULT_SCRL_VAL 20

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

#define DEF 0
#define NUM 1
#define SYM 2
#define NAV 3
#define SET 4

/ {
    behaviors {
	ht: hold_tap {
            label = "hold_tap";
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };

        mmv {
            acceleration-exponent = <4>;
            time-to-max-speed-ms = <1000>;
            delay-ms = <50>;
        };

        msc {
            acceleration-exponent = <0>;
            time-to-max-speed-ms = <40>;
            delay-ms = <0>;
        };
    };

    combos {
        compatible = "zmk,combos";

        esc {
            bindings = <&kp ESCAPE>;
            key-positions = <31 32>;
            layers = <DEF NUM SYM NAV SET>;
        };

        tog_nav {
            bindings = <&tog NAV>;
            key-positions = <30 33>;
            layers = <DEF NUM SYM NAV SET>;
        };

        f12 {
            bindings = <&kp F12>;
            key-positions = <29 28>;
            layers = <NUM>;
        };

        f11 {
            bindings = <&kp F11>;
            key-positions = <20 21>;
            layers = <NUM>;
        };

        set_layer {
            bindings = <&mo SET>;
            key-positions = <20 29>;
            layers = <DEF>;
        };
    };

    macros {
        win_desk_left: win_desk_left {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(LC(LEFT))>;
            label = "WIN_DESK_LEFT";
        };

        win_desk_right: win_desl_right {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(LC(RIGHT))>;
            label = "WIN_DESL_RIGHT";
        };

        mac_desk_left: mac_desk_left {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(LEFT)>;
            label = "MAC_DESK_LEFT";
        };

        mac_desk_right: mac_desk_right {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(RIGHT)>;
            label = "MAC_DESK_RIGHT";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        def {
            bindings = <
&kp Q       &kp W       &kp E        &kp R         &kp T          &kp Y          &kp U          &kp I        &kp O       &kp P
&ht LGUI A  &ht RALT S  &ht LCTRL D  &ht LSHIFT F  &kp G          &kp H          &ht LSHIFT J   &ht RCTRL K  &ht RALT L  &ht RIGHT_GUI SEMICOLON
&kp Z       &kp X       &kp C        &kp V         &kp B          &kp N          &kp M          &kp COMMA    &kp DOT     &kp FSLH
                                     &lt NUM TAB   &lt SYM SPACE  &lt NAV ENTER  &kp BACKSPACE
            >;
        };

        num {
            bindings = <
&kp N1        &kp N2        &kp N3     &kp N4     &kp N5     &kp N6   &kp N7     &kp N8     &kp N9    &kp N0
&kp LGUI      &kp LALT      &kp LCTRL  &kp LSHFT  &kp INS    &kp DEL  &kp RSHFT  &kp RCTRL  &kp LALT  &kp LGUI
&kp F1        &kp F2        &kp F3     &kp F4     &kp F5     &kp F6   &kp F7     &kp F8     &kp F9    &kp F10
                                       &trans     &trans     &trans   &trans
            >;
        };

        sym {
            bindings = <
&kp EXCL  &kp AT    &kp HASH          &kp DLLR           &kp PRCNT    &kp CARET  &kp AMPS  &kp ASTRK  &kp GRAVE  &kp TILDE
&kp LBKT  &kp LT    &kp LPAR          &kp LBRC           &kp PLUS     &kp MINUS  &kp RBRC  &kp RPAR   &kp GT     &kp RBKT
&kp BSLH  &kp PIPE  &kp SINGLE_QUOTE  &kp DOUBLE_QUOTES  &kp EQUAL    &kp UNDER  &none     &kp COMMA  &kp DOT    &kp FSLH
                                      &trans             &trans       &trans     &trans
            >;
        };

        nav {
            bindings = <
&none           &msc SCRL_LEFT  &none           &msc SCRL_RIGHT  &kp PRINTSCREEN         &kp CAPSLOCK     &mkp MB4  &mkp MB3  &mkp MB5   &none
&win_desk_left  &msc SCRL_UP    &mmv MOVE_UP    &msc SCRL_DOWN   &kp C_BRIGHTNESS_INC    &kp C_VOLUME_UP  &mkp MB1  &kp UP    &mkp MB2   &win_desk_right
&kp HOME        &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &kp C_BRIGHTNESS_DEC    &kp C_VOL_DN     &kp LEFT  &kp DOWN  &kp RIGHT  &kp END
                                                &trans           &trans                  &trans           &trans
            >;
        };

        set {
            bindings = <
&bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &sys_reset  &bootloader  &out OUT_USB  &out OUT_BLE  &bt BT_CLR
&none         &none         &none         &none         &none           &none       &none        &none         &none         &none
&none         &none         &none         &none         &none           &none       &none        &none         &none         &none
                                          &trans        &trans          &trans      &trans
            >;
        };
    };
};

&lt {
    // require-prior-idle-ms = <100>;
    tapping-term-ms = <150>;
    quick-tap-ms = <200>;
};
